@import '../variables';

.main {
  width: 100%;
  height: 100vh;
}

.sections {
  display: flex;
  width: 100%;
  height: calc(100vh - $header-height);

  section {
    width: 50%;
  }
}

.sections section,
.sectionsImg section {
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p:nth-child(3) {
    font-size: 48px;
    font-weight: 900;
  }

  p:nth-child(4) {
    font-size: 34px;
  }

  p:nth-child(5) {
    font-size: 24px;
  }

  p:nth-child(6) {
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
  }
}

.hexName {
  font-size: 96px;
  line-height: 96px;
}

.rgbName {
  font-size: 60px;
  line-height: 60px;
}


.simplifyImg,
.sectionsImg {
  display: flex;
  width: min-content;

  section {
    width: 600px;
    height: 600px;
  }

  div {
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-weight: 900;
    }
  }
}